/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.body {
    /* background-color: red; */
    height: 100%;
    overflow-y: scroll;
}

.body-2 {
    margin: 3rem;  
    /* background-color: blue;  */
}

.txt-work-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #021533;
}

hr {
  color: #021533;
  height: 10rem;
}

.txt-content-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  color: #08aeac;
}